rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /tables/{docId} {
      allow read, delete: if true;
      allow write: if request.resource.data.keys().hasAll(['identifier'])
                   && request.resource.data.identifier is string
                   && request.resource.data.identifier.size() > 0;
    }

  }
}
